@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body::-webkit-scrollbar{
    width: 0px;
  }
  
  @layer utilities {
    .textColorBg {
      background: linear-gradient(74deg, var(--bard-color-brand-text-gradient-stop-1) 0, var(--bard-color-brand-text-gradient-stop-2) 9%, var(--bard-color-brand-text-gradient-stop-3) 20%, var(--bard-color-brand-text-gradient-stop-3) 24%, var(--bard-color-brand-text-gradient-stop-2) 35%, var(--bard-color-brand-text-gradient-stop-1) 44%, var(--bard-color-brand-text-gradient-stop-2) 50%, var(--bard-color-brand-text-gradient-stop-3) 56%, #ffffffda 75%, #ffffffce 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    .fontless {
      font-weight: 300 !important;
    }
  
    .trans {
      transition: 1s ease-in-out;
    }
  
    .bgr {
      background: linear-gradient(135deg, #10121B 0%, #060606 100%);
    }
  
    .glasser {
      background: rgba(255, 255, 255, 0.034);
      /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  
    .flex-all {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .bi {
      color: #000;
      font-size: 16px;
      z-index: 1;
    }
  
    .flex-bet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .letter {
      letter-spacing: 1px;
    }
  
    .borders {
      border: 1px solid red;
    }
  
    .conic{
        background: conic-gradient(from 149deg at 50% 90%, #C674Ce 112.5deg, rgba(204, 235, 163, 0) 180deg, #C674Ce 360deg);
    }
    .flex-colm {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
  
    .space {
      word-spacing: 5px;
    }
  
    .shadow {
      filter: drop-shadow(0 0 5px #64dcdd);
    }
  
    .glass {
      background: rgba(255, 255, 255, 0.8);
      /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
      border-radius: 10px;
      /* border: 1px solid rgba(255, 255, 255, 0.18); */
    }
    .ScrollerColor::-webkit-scrollbar{
      width: 10px;
      border-radius: 5px;
      background-color: #fff;
    }
    .ScrollerColor::-webkit-scrollbar-track{
      width: 10px;
      border-radius: 5px;
      background-color: #fff;
    }
    .Scroller::-webkit-scrollbar-thumb{
      background-color: #000;
      width: 10px;
    }
  
  }